﻿@page
@model TranApp.Pages.User.RegisterUserModel
@{
}

<h1>Register User</h1>

<form method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Form.Username">Username</label>
            </td>
            <td><label>:</label></td>
            <td>
                <input asp-for="Form.Username" />
            </td>
            <td><span asp-validation-for="Form.Username"></span></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Form.PasswordUser">Password</label>
            </td>
            <td><label>:</label></td>
            <td>
                <input asp-for="Form.PasswordUser" type="password" />
            </td>
            <td><span asp-validation-for="Form.PasswordUser"></span></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Form.ConfirmPasswordUser">Confirm Password</label>
            </td>
            <td><label>:</label></td>
            <td>
                <input asp-for="Form.ConfirmPasswordUser" type="password" />
            </td>
            <td><span asp-validation-for="Form.ConfirmPasswordUser"></span></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Form.Email">Email</label>
            </td>
            <td><label>:</label></td>
            <td>
                <input asp-for="Form.Email" type="email" />
            </td>
            <td><span asp-validation-for="Form.Email"></span></td>
        </tr>
    </table>
    <div>
        <button type="submit">Register</button>
    </div>
    <div>
        <p>
            @Model.SuccessMessage
        </p>
    </div>
    @*<div>
            <a href="../Index">Home</a>
        </div>*@
</form>