﻿@page "{ProtectedData}"
@model TranApp.Pages.Purchase.DeletePurchaseModel
@{
}

<h1>Delete Data Confirmation</h1>
<form method="post">
    <div>
        <h3>Apakah anda yakin untuk menghapus @Model.Form.ProductName ?</h3>
        <h3>:'(</h3>
    </div>
    <br />

    <input asp-for="Form.ProductId" readonly hidden />
    <input asp-for="Form.UserId" readonly hidden />
    <input asp-for="Form.ProductName" readonly hidden />
    <input asp-for="Form.Quantity" readonly hidden />

    <button type="submit">Delete</button>
</form>